// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$body-bg: rgb(168, 166, 166);
$primary: #0e314c;

$theme-colors: (
  primary: $primary,
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";